<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div> <h1>{{some}}</h1> </div> <!-- обрщаемся к модели-->
<div> <h2>{{second}}</h2></div>
</body>
</html>